    /*==========RESET============= */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;    
}
    /*============== GERAL =================*/
:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    --border-profile-img:#00FF00;
  }
        
body  {   
    display: flex;    
    flex-direction: column;

    background: var(--body-bg-color);
    padding: 40px;
    font-family: 'Merriweather Sans';
    color: var(--text-color);
    
}

body section { 
    background: var(--bg-cards); 
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  }
    /* ========HEADER=========== */
header {
    display: flex;
    gap: 30px;      

}

    /*======== Perfil============ */
.profile { 
    display: flex;
    flex-direction: column;
    align-items: center;
    
    min-width: 348px;
    height: 292px;     
       
}

.profile div img {      
    margin: 30px;
    width: auto;
    height: 128px;   
    border: 2px solid var(--border-profile-img);
    border-radius: 50%;
    margin-top: 32px;
    margin-bottom:30px;    
}

.profile div h1 {   
    width: auto;
    height: 26px;    
    font-weight: 700;
    font-size: 23px;           
}

.profile div p {    
    margin-top:10px;
    width: auto;
    height: 17px;
    left: 150px; 
    
    font-weight: 300;
    font-size: 13px;   
}
    /*---------------MENU-MAIN---------- */
    /*=========== Meus projetos========= */

.menu-main {
    width: 100%;    
}
    /* ===============MY-ONYX============*/

.box-my-onix {   
    gap: 30px;
    display: flex;     
}

.my-onix {       
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    
    height: 186px;
    width: 100%;
    margin-top: 31px;
    
    padding: 30px;
    
    font-weight: 700;
    font-size: 16px;
}

.folder {
    display: flex;
    gap: 17.67px;
   
    justify-content: center;
    align-items: flex-end;    
}

.my-onix p {       
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    margin-top: 21px;
}

#star {
    display: flex;    
    gap:8px;    
}

#star :nth-child(2) {
    margin-right: 16px;    
}

#star-javascript { 
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    
    width: 100%;
    margin-top: 27px;
}

#javascript {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}  

    /*==============RECENT POSTS================== */
.recent-posts,
.my-projets {  
    display: flex; 
    align-items: center;
    justify-content: space-between;
   
    width: 100%;
    height: 86px;   
   
}

.my-projets a,
.recent-posts a  {
    text-decoration: none;
    color: var(--text-color);   
    margin-left: 30px;
    margin-right: 30px;
}

    /* ============ASIDE================ */
.aside {
    display: flex;   
    gap: 30px;
}

    /* ========LINKS DE REDEs SOCIAIS ======*/    
.social-links {
    min-width: 348px; 
    height: 348px;   
    margin-top: 30px;  
}

.social-links div ul {
    padding: 34px 40px;    
}

.social-links div ul li {
    display: flex;
    align-items: center;
    
    font-weight: 400;
    font-size: 12px;
    margin-bottom: calc((348px - (34px + 34px)) / 11); 
    transition: transform .4s;  
}

.social-links div ul a li svg {
    margin-right: 20px;
}

.social-links div ul a {
    text-decoration: none;
    color: var(--text-color);
}

.social-links ul a li:hover {
    transform: scale(1.07);
}

    /* ==========RECENT POSTS======= */
.recents-error {
    display:flex;
    flex-direction: column;
    width: 100%; 
}

.recent-posts {
    margin-top: 30px;     
}

    /*================ERROR================ */
.error {
    display: flex;  
    
    margin-top: 30px;    
    height: 201px;   

    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
li {
    
}

.error img {
    margin: 30px;    
    height: 128px;   
    border-radius: 50%;       
}

.error-date {    
    display: flex;
    flex-direction: column;
    gap: 15px;   

    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;    
}

.error-date :nth-child(2){     
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;   
}

    /* ===========TECNOLOGIAS=============== */
.tecnology {    
    width: 348px;
    height: 208px;        
    margin-top: 30px;         
}

.tecnology h1 {    
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    width: 121px;
    height: 26px;      
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.tecnology div ul {  
    display: flex;
    flex-wrap: wrap;    
    height: 128px;

    margin-left: 30px;
    margin-top: 20px;
    gap: 15px;     
}

.tecnology div ul li {    
    display: flex;    
    justify-content: center;
    align-items: center;

    width: 86px;
    height: 24px;      
    border-radius: 30px;    
    background: var(--bg-techs);
    color: #000000;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;  
    transition: .4s;     
}


.tecnology div ul li:hover {
    background-color:#a86a8e ;
}

.tecnology div ul a  {
    text-decoration: none;
}

    /*==============EXPERIENCIAS============ */
.experiences-education {
    display: flex;
    flex-direction: column;    
    
    margin-top: 30px;
    width: 348px;
    height: 349px;   
}

.experiences-education h1 {    
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;  
    margin-top: 30px;
    margin-bottom: 20px;
}

.experiences-education  ul {   
    width: 175px;
    height: 243px;  
    font-weight: 700;
    font-size: 12px;
    margin-left: 40px;
    line-height: 18px    
}


.experiences-education ul li h4 {
    font-weight: 200;
}

.experiences-education ul li {
    list-style: disc;
}



  
    

footer {
    display: flex;
}


